

  img {
    float: left;
    width: 390px;
    height: 270px;
    margin: 10px;
    border: 1px solid #666;
    background-color: #CCC;
    padding: 10px;
    text-align: center;

}

.flex-container {
  width: 700px;
  height: 1000%;
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
 }
 
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-children {
  text-align: center;
}